<!DOCTYPE html>
{% load static %}

<html>
<head>
    <title>RIT Transport</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="{% static 'css/sample.css' %}">
    <link rel="stylesheet" href="{% static 'css/samplefromstyle.css' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="{% static 'css/tablestyle.css' %}">
    <link rel="stylesheet" href="{% static 'css/popup.css' %}">
    
   
</head>

<body>
<!-- Vertical navbar -->
<div class="vertical-nav bg-white" id="sidebar">
  <div class="py-4 px-3 mb-4 bg-light">
    <div class="media d-flex align-items-center">
      <img decoding="async" src="/static/images/1.png" alt="..." width="80" height="80" class="mr-3 rounded-circle img-thumbnail shadow-sm">
      <div class="media-body">
          <h4 class="m-0" id="department-name">
           CGPA
          </h4>
        <p class="font-weight-normal text-muted mb-0">Track</p>
        
        <p class="font-weight-normal text-muted mb-0">For {{role}}</p>
      </div>
    </div>
  </div>

  <p class="text-gray font-weight-bold text-uppercase px-3 small pb-4 mb-0">Dashboard</p>

  <ul class="nav flex-column bg-white mb-0">
    {% if role == 'student'%}
    <li class="nav-item">
      <a href="{% url 'student' %}?role=student" class="nav-link text-dark bg-light">
                <i class="fa fa-th-large mr-3 text-primary fa-fw"></i>
                User Data
            </a>
    </li>
    {% endif %}
    {% if role != 'student' or role == None%}
    <li class="nav-item">
      <a href="{% url 'student' %}?role=teacher" class="nav-link text-dark bg-light">
                <i class="fa fa-th-large mr-3 text-primary fa-fw"></i>
                Single Entry
            </a>
    </li>
   
   
    <li class="nav-item">
      <a href="{% url 'dashboard' %}?role=teacher"  class="nav-link text-dark">
                <i class="fa fa-address-card mr-3 text-primary fa-fw"></i>
                Dashboard 
            </a>
    </li>
    {% endif %}
    <!-- <li class="nav-item" >
      <a href="{% url 'insert_grade' %}"  class="nav-link text-dark">
                <i class="fa fa-solid fa-bus mr-3 text-primary fa-fw"></i>
                fjbefi
            </a>
    </li>
   
    <li class="nav-item">
      <a href="#"  class="nav-link text-dark">
                <i class="fa fa-solid fa-area-chart  mr-3 text-primary fa-fw"></i>
               Transport History
            </a>
    </li>
    
    <li class="nav-item">
      <a href="#"  class="nav-link text-dark">
                <i class="fa fa-solid fa-plug  mr-3 text-primary fa-fw"></i>
               Power Station Form
            </a>
    </li>
   
    <li class="nav-item">
      <a href="#"  class="nav-link text-dark">
                <i class="fa fa-solid fa-line-chart  mr-3 text-primary fa-fw"></i>
               Power Station History
            </a>
    </li>
   
    <li class="nav-item">
      <a href="#"  class="nav-link text-dark">
                <i class="fa fa-solid fa-qrcode mr-3 text-primary fa-fw"></i>
                qr code reader
            </a>
    </li>
    <br><br><br>
    <li class="nav-item"> -->
      
      <a  href="{% url 'logout' %}" class="nav-link text-dark"><button>
                Logout </button>
            </a>
          
    </li>
  </ul>

</div>
<!-- End vertical navbar -->
{% block maincontent %}
{% endblock %}


<!-- End demo content -->
<script>
  function logout() {
      // Clear session storage
      sessionStorage.clear();

      // Clear browser history
      window.location.replace('/login');  // Redirect to login page
      window.history.forward();
  }
</script>

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
<script src="{% static '/js/script.js' %}"></script>
</body>
</html>


